#root {
  height: 100%;
}

.full-height {
  height: 100%;
}

.container {
  background-color: #171212;
}

.content {
  padding-top: 60px;
  padding-left:5px;
}


.top-menu {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px;
  font-size: 1.3rem;
  color: white;
}

.top-menu-item {
  float: right;
  margin-right: 15px;
}
.top-menu-right {
  float: right;
  margin-right: 40px;
}

.user-thumb {
  border-radius: 50%;
  height: 30px;
  margin-top: -5px;
}
