
.red    {
  color: #B03060;
}
.orange {
  color: #FE9A76;
}
.yellow {
  color: #FFD700;
}
.olive  {
  color: #32CD32;
}
.green  {
  color: #016936;
}
.teal   {
  color: #008080;
}
.blue   {
  color: #0E6EB8;
}
.violet {
  color: #EE82EE;
}
.purple {
  color: #B413EC;
}
.pink   {
  color: #FF1493;
}
.brown  {
  color: #A52A2A;
}
.rey   {
  color: #A0A0A0;
}

body, #app {
  height: 100%
}


@import './containers/HomePage/homepage.scss'