{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/extensions": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/no-autofocus": 0
  },
  "globals": {
    "window": true,
    "document": true
  }
}
