.homepage {
  height: 100%;
  color: white;
}

.search__input {
  border: 0;
  background: transparent;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 7vw;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0.1em 0;
  color: inherit;
  border-bottom: 4px solid #E3891C;
}

.search__input:focus {
  outline: none;
}

.search__info {
  position: absolute;
  font-size: 90%;
  font-weight: bold;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0.85em 0;
  text-align: right;
  right: 13px;
}

.search__done {
  position: absolute;
  font-size: 90%;
  font-weight: bold;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0.85em 0;
  text-align: left;
}

.searchTerms {
  color: #E3891C;
  font-style: italic;
}
